body {
  font-family: "Ubuntu Condensed", sans-serif, "Rubik Wet Paint", cursive;
}

p {
  color: blueviolet;
  font-weight: lighter;
}

img {
  width: 200;
  border-radius: 20px;
}
form {
  display: block;
}
