h1 {
  color: blue;
  text-decoration: underline;
  background-color: pink;
}

h2 {
  color: purple;
  font-size: 25px;
  font-weight: bold;
  border: 5px solid orange;
}

section {
  width: 50%;
  height: 200px;
  background-color: grey;
  border-color: black;
  border-style: solid;
}

section > p {
  color: white;
}

footer {
  background-color: rgb(9, 50, 154);
  border-color: lightgreen;
  border: 3px red dashed;
}

footer > h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
