/* Please Make only Rhino and Zebra Blue */
.fourLegs {
  color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
  color: gold;
}
/* Please select Duck with the highest level of specificity possible */
h2.likesToQuack.likesToQuack {
  color: brown;
}
/* Please select Rhino with the highest level of specificity possible */
h2#rhino.africa.fourLegs {
  color: crimson;
}
