/**
 * Box Model Hack
 *
 * @format
 */

* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	background-color: black;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
	height: 170px;
	border: black solid 2px;
	background-color: coral;
}

footer {
	height: 150px;
	border: black solid 2px;
	clear: both;
	background-color: black;
}

section {
	height: 250px;
	border: solid rgb(8, 0, 1) 2px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.three {
	float: left;
	width: 32.971%;
	background-color: aqua;
	margin: 3px;
}

.two {
	float: left;
	width: 50%;
	background-color: grey;
}
