/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 10% auto;
	width: 600px;
	height: 500px;
	border-radius: 10%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
