/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

h2 {
	display: block;
	margin: 1px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img {
	height: 400px;
}
