/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
nav,
main,
aside {
  float: left;
  width: 10%;
}
main {
  width: 50%;
  padding: 7%;
  height: 750px;
  background-image: url("../../class-layout-photos/bbc-image.png");
}
aside {
  width: 40%;
  padding: 7%;
}
nav {
  padding-top: 7%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
