/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 40px auto;
	width: 50%;
	border-radius: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
