/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 0 auto;
	border-radius: 12%;
	width: 26%;
	height: 26%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
p {
	font-weight: normal;
}
