/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 5% auto;
	width: 50%;
	border-radius: 12%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
