/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 150px auto;
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
