/**
 * ***************************************
 * /* CSS
 * /******************************************
 *
 * @format
 */

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 0;
	width: 40%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h3 {
	width: 40%;
	margin: 0;
	padding-top: 20px;
}
