header {
  background: pink;
  height: 120px;
}
footer {
  background: green;
  height: 120px;
  clear:both;
}

section {

  height: 300px;
  margin: 2px;

}

.one {
  background: blue;
  float: left;
  width: 33%
}

.three {
  background: purple;
  float: left;
  width: 33%
}

.two {
  background: blue;
  float: left;
  width: 33%
}
 img {
   height: 300px;
   /* padding-left: 20px;
   padding-right: 20px; */
   /* margin: 2px;
   padding: 0px 10px 0px 10px; */
 }

 .img1 {
   float: left;
   width: 49.6% ;
   margin-left: 2px;
   margin-right: 2px;
 }
 .img2 {
   float: right;
   width: 49.6%;
   margin-right: 1px;
   margin-left: 4px;
 }
