header {
  background: pink;
  height: 100px;
}
footer {
  background: yellow;
  height: 80px;
  clear: both;
}

section {
  height: 200px;
  margin: 2px;
}

.one {
  display: block;
  background: rgb(79, 120, 2);
}

.zero {
  background: crimson;
  float: left;
  width: 33%;
}

.three {
  background: purple;
  float: left;
  width: 33%;
}

.two {
  background: blue;
  float: left;
  width: 33%;
}
img {
  height: 250px;
  /* padding-left: 20px;
   padding-right: 20px; */
  /* margin: 2px;
   padding: 0px 10px 0px 10px; */
}

.img1 {
  float: left;
  width: 33%;
  margin-left: 2px;
  /* margin-right: 2px; */
}
.img2 {
  float: right;
  width: 66.3%;
  margin-right: 6px;
  margin-left: 0px;
}
